In [1]:
import pandas as pd
product=pd.read_excel("D:\py\productMaster.xlsx")
# product=product[['PART_NUMBER','W_CODE']]

In [2]:
# Drop Duplicate records from where key PART_NUMBER and W_CODE
product.drop_duplicates(['PART_NUMBER','W_CODE'],inplace=True)

In [3]:
# Find Duplicate records bassed on only joining key
product[product.duplicated('PART_NUMBER',keep=False)].shape

(146, 34)

In [4]:
Dup=product[product.duplicated('PART_NUMBER',keep=False)]
dup=list(Dup['PART_NUMBER'].unique())

In [5]:
# product 1 contain only that unqique records or that records not hold duplicate value
product1=product[~product.PART_NUMBER.isin(dup)]
product2=Dup[Dup['W_CODE']!='-']

In [6]:
product2.shape

(74, 34)

In [7]:
product3=pd.concat([product1, product2])
product3.shape

(5487, 34)

In [8]:
Pro=product3[product3.duplicated('PART_NUMBER',keep=False)]

In [9]:
# Pro.to_excel("PartNumberSameMutipleWCode.xlsx")

In [10]:
Pro

,SSBU,ITEM_NUMBER,CUSTOMER,PRODUCT_NAME,INTERFACE,ENDURANCE,USER_CAPACITY,FORM_FACTOR,SECURITY,NAND,...,DIE_STACK2_COUNT,DRAM1_CNT,DRAM2_NAME,DRAM2_CNT,PWB,PACKAGE_SIZE,DESCRIPTION,NAND_GRADE,CONTROLLER_TYPE,W_CODE
14618,X121,KHK6UVSE1T920P0DET,????????????,HK6V,SATA,3,1920,"2.5""",SED,BiCS3,...,NaN,4,-,-,Double,12x18x1.35t 132,"HK6V - SATA - 3DWPD - 1920GB - SED - 2.5""",eTLC,-,HK6_15
14627,X121,KHK6UVSE1T92AP0LDA,Dell,HK6V,SATA,3,1920,"2.5""",SED,BiCS3,...,4.0,4,-,-,Double,12x18x1.35t 132,"HK6V - SATA - 3DWPD - 1920GB - SED - 2.5""",eTLC,-,HK6_16
14902,X121,KHK6YVSE1T920J0DET,????????????,HK6R,SATA,3,1920,"2.5""",SIE,BiCS3,...,NaN,4,-,-,Double,12x18x1.35t 132,"HK6R - SATA - 3DWPD - 1920GB - SIE - 2.5""",eTLC,-,HK6_15
14915,X121,KHK6YVSE1T92APZLDA,Dell,HK6V,SATA,3,1920,"2.5""",SIE,BiCS3,...,4.0,4,-,-,Double,12x18x1.35t 132,"HK6V - SATA - 3DWPD - 1920GB - SIE - 2.5""",eTLC,-,HK6_16